.sw-next-prev{
	display:none;
}
.swipslider {
         width:calc(100% - 40px);
        height:600px;
 	padding-top:0 !important;
	margin:70px auto ;
}
.swipslider .sw-slide > img{
   width: 400px;
    height: 700px;
}